

.nk-body {
	outline: none
}

.nk-app-root {
	outline: none
}

.nk-main {
	position: relative
}

.nk-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh
}

.nk-content {
	padding: 24px 4px
}

.nk-content-fs {
	min-height: calc(100vh - (65px + 65px));
	display: flex;
	align-items: center
}

@media (min-width: 576px) {
	.nk-content {
		padding: 32px 14px
	}
	.nk-content-fluid {
		padding-left: 22px;
		padding-right: 22px
	}
}

@media (min-width: 992px) {
	.nk-content-lg {
		padding-top: 36px;
		padding-bottom: 36px
	}
	.nk-content-fluid {
		padding-left: 24px;
		padding-right: 24px
	}
}

@media (min-width: 1660px) {
	.nk-content-lg {
		padding-top: 54px;
		padding-bottom: 54px
	}
	.nk-content-fluid {
		padding-left: 44px;
		padding-right: 44px
	}
}

.nk-content-body {
	flex-grow: 1
}

.nk-wrap-nosidebar .nk-content {
	padding: 0 !important;
	min-height: 100vh;
	display: flex;
	flex-direction: column
}

.logo-link {
	position: relative;
	display: inline-block;
	align-items: center
}

.logo-dark {
	opacity: 1
}

.tc-light .logo-dark,
.is-dark .logo-dark,
.is-theme .logo-dark {
	opacity: 0
}

.logo-light {
	opacity: 0
}

.tc-light .logo-light,
.is-dark .logo-light,
.is-theme .logo-light {
	opacity: 1
}

.logo-img {
	max-height: 36px
}

.logo-img-lg {
	max-height: 60px
}

.logo-img-sm {
	max-height: 28px
}

.logo-img-icon {
	max-height: 33px
}

.logo-img:not(:first-child) {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%)
}

.nk-header {
	background: #f5f6fa;
	border-bottom: 1px solid #e5e9f2;
	padding: 0 6px
}

.nk-header.is-dark:not([class*=bg-]) {
	background: #101924;
	border-color: #203247
}

.nk-header.is-light:not([class*=bg-]) {
	background: #fff
}

.nk-header.is-theme:not([class*=bg-]) {
	background: #29347a;
	border-color: #3644a0
}

.nk-header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	min-width: 320px
}

.nk-header-fixed+.nk-content {
	margin-top: 65px;
	position: relative
}

.nk-header-wrap {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 -.25rem
}

.nk-header-wrap>* {
	padding: 0 .25rem
}

.nk-header-right {
	align-items: center;
	justify-content: flex-end
}

.nk-header-center {
	justify-content: center
}

.nk-header-tools {
	margin-left: auto;
	padding-top: 14px;
	padding-bottom: 14px
}

.nk-header-brand {
	flex-shrink: 0;
	padding-top: 14px;
	padding-bottom: 14px
}

.nk-header .dropdown-menu .lead-text {
	color: #364a63
}

.nk-header .dropdown-menu .sub-text,
.nk-header .dropdown-menu .overline-title,
.nk-header .dropdown-menu .overline-title-alt {
	color: #8094ae
}

.nk-quick-nav {
	display: flex;
	align-items: center;
	margin: 0 -6px
}

.nk-quick-nav>li {
	padding: 0 6px
}

.nk-quick-nav>li.user-dropdown>a {
	padding: 0 2px
}

.nk-quick-nav-icon {
	display: inline-flex;
	position: relative;
	font-size: 1.5rem;
	z-index: 1;
	color: #526484;
	padding: .375rem
}

.is-dark .nk-quick-nav-icon {
	color: #9faec2
}

.is-theme .nk-quick-nav-icon {
	color: #c4cefe
}

.is-theme .nk-quick-nav-icon.nk-nav-toggle {
	color: #fff
}

.nk-quick-nav-icon:focus {
	box-shadow: none
}

.nk-quick-nav-icon:before {
	position: absolute;
	z-index: -1;
	height: 20px;
	width: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	content: '';
	background-color: #e5e9f2;
	border-radius: 50%;
	opacity: 0;
	transition: all .3s
}

.is-dark .nk-quick-nav-icon:before {
	background-color: #0b1219
}

.is-theme .nk-quick-nav-icon:before {
	background-color: #1f275c
}

.show>.nk-quick-nav-icon:before {
	opacity: 1;
	height: 116%;
	width: 116%
}

.nk-quick-nav-icon:hover:before,
.nk-quick-nav-icon.active:before {
	opacity: 1;
	height: 116%;
	width: 116%
}

@media (max-width: 359px) {
	.nk-quick-nav {
		margin: 0 -3px
	}
	.nk-quick-nav>li {
		padding: 0 3px
	}
	.hide-mb-xs {
		display: none
	}
}

@media (max-width: 575px) {
	.hide-mb-sm {
		display: none
	}
}

@media (min-width: 576px) {
	.nk-header {
		padding: 0 14px
	}
	.nk-quick-nav {
		margin: 0 -10px
	}
	.nk-quick-nav>li {
		padding: 0 10px
	}
}

@media (min-width: 992px) {
	.nk-header-fluid {
		padding-left: 24px;
		padding-right: 24px
	}
}

@media (min-width: 1660px) {
	.nk-header-fluid {
		padding-left: 44px;
		padding-right: 44px
	}
}

.nk-header-menu {
	position: fixed;
	top: 0;
	width: 280px;
	height: 100vh;
	max-height: 100vh;
	z-index: 999;
	background: #fff;
	left: 0;
	transform: translateX(-100%)
}

.nk-header-menu-inner {
	max-height: 100%;
	min-height: 100%
}

.nk-header-menu.mobile-menu {
	padding-top: 65px;
	padding-left: 0;
	padding-right: 0;
	transition: transform .4s ease
}

.nk-header-menu.nk-sidebar-active {
	transform: translateX(0)
}

.nk-header-mobile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 28px;
	border-bottom: 1px solid #e5e9f2
}

.nk-header-mobile .logo-dark {
	opacity: 1
}

.nk-header-mobile .logo-light {
	opacity: 0
}

.nk-header-mobile .nk-nav-toggle.nk-quick-nav-icon {
	color: #526484
}

.nk-header-mobile .nk-nav-toggle.nk-quick-nav-icon:before {
	background-color: #e5e9f2
}

@media (min-width: 992px) {
	.nk-header-menu {
		position: static;
		background: transparent;
		height: auto;
		max-height: auto;
		border-right: none;
		width: auto;
		padding: 0;
		overflow: visible;
		transform: translateX(0) !important
	}
	.nk-header-menu .nk-header-mobile {
		display: none
	}
}

.nk-header-app-name {
	display: flex;
	align-items: center;
	flex-shrink: 0
}

.nk-header-app-logo {
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	margin-right: 0.75rem
}

.nk-header-app-logo .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	font-size: 20px;
	color: #6576ff;
	background: rgba(101, 118, 255, 0.3)
}

.nk-header-app-info {
	line-height: 1.3
}

.nk-header-app-info .sub-text {
	font-size: 11px;
	margin-bottom: 0.125rem
}

.nk-header-app-info .lead-text {
	font-size: 14px
}

.nk-header-app-switch {
	position: relative
}

.nk-header-app-switch .nk-header-app-name {
	padding: 1.5rem 24px
}

.nk-header-app-switch>a {
	display: block;
	width: 100%
}

.nk-header-app-switch>a:after {
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1rem;
	content: "î§…";
	font-family: "Nioicon"
}

.mobile-menu .nk-header-app-switch {
	width: 100%;
	border-bottom: 1px solid #e5e9f2
}

.nk-header-app-switch .toggle-content {
	width: 100%;
	top: 0;
	transform: translateY(0);
	height: calc(100vh - 65px);
	overflow: auto;
	box-shadow: none;
	border-radius: 0;
	background: #fff
}

.nk-header-app-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 24px
}

.nk-header-app-head .title {
	font-size: 16px;
	font-weight: 500
}

.nk-header-app-head .toggle {
	position: relative;
	height: 24px;
	width: 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center
}

.nk-header-app-list li {
	border-bottom: 1px solid #e5e9f2
}

.nk-header-app-list .nk-header-app-name {
	padding: 1rem 24px
}

@media (max-height: 615px) {
	.nk-header-app-switch .dropdown-menu {
		max-height: 416px;
		overflow: auto
	}
}

@media (min-width: 768px) {
	.nk-header-onlymobile {
		display: none
	}
	.nk-header-onlymobile+.nk-content {
		margin-top: 0
	}
}

.nk-sidebar {
	position: fixed;
	top: 65px;
	width: 280px;
	min-height: calc(100vh - 65px);
	max-height: calc(100vh - 65px);
	background: #fff;
	z-index: 1021;
	left: 0;
	border-right: 1px solid #e5e9f2;
	transform: translateX(-100%);
	transition: left 450ms ease, transform 450ms ease
}

.nk-sidebar.is-light {
	background: #fff;
	border-right-color: #ebeef2
}

.nk-sidebar.is-dark {
	background: #101924;
	border-right-color: #203247
}

.nk-sidebar.is-theme {
	background: #29347a;
	border-right-color: #3644a0
}

.nk-sidebar-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(16, 25, 36, 0.4);
	z-index: 600;
	animation: overlay-fade-in .4s ease 1
}

.nk-sidebar-element {
	overflow: hidden;
	width: 100%;
	max-height: 100%
}

.nk-sidebar.nk-sidebar-active {
	transform: translateX(0)
}

.nk-sidebar-fixed {
	position: fixed;
	max-height: 100vh
}

.nk-sidebar-logo {
	transition: opacity .3s ease
}

.nk-sidebar-logo .logo-img:not(:first-child) {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%)
}

.nk-sidebar-footer {
	background-color: #f5f6fa;
	margin-top: auto;
	padding: 1.75rem 24px 1.75rem
}

.is-light .nk-sidebar-footer {
	background: #fff
}

.is-dark .nk-sidebar-footer {
	background-color: #101924
}

.is-theme .nk-sidebar-footer {
	background-color: #29347a
}

.nk-sidebar-body {
	position: relative
}

.nk-sidebar-body .simplebar-content {
	padding-bottom: .25rem !important;
	min-height: 100%;
	display: flex;
	flex-direction: column
}

.nk-sidebar-body .simplebar-scroll-content {
	min-height: 100%;
	width: 100%
}

.nk-sidebar-content {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 65px)
}

.nk-sidebar-content .nk-sidebar-menu {
	padding-top: 1.5rem
}

.nk-sidebar-content .nk-sidebar-menu[data-simplebar] {
	height: 100%
}

.nk-sidebar-content[data-simplebar]>div {
	width: 100%
}

.nk-sidebar-profile-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #f5f6fa
}

.is-dark .nk-sidebar-profile-fixed {
	background: #101924
}

.is-theme .nk-sidebar-profile-fixed {
	background: #29347a
}

.nk-sidebar.is-theme .user-balance-alt,
.nk-sidebar.is-dark .user-balance-alt {
	color: #c4cefe
}

.nk-sidebar-inner {
	padding: 1.5rem 1.75rem 2rem;
	max-height: calc(100vh - 65px)
}

.nk-sidebar.mobile-menu {
	transition: transform .4s ease
}

.nk-sidebar .nk-menu-heading {
	padding-left: 0;
	padding-right: 0
}

.nk-sidebar .nk-menu>li>a {
	padding-left: 0;
	padding-right: 0
}

.nk-sidebar .nk-menu-toggle:after {
	right: 0
}

@keyframes overlay-fade-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.has-sidebar .nk-wrap {
	padding-top: 65px
}

@media (max-width: 991.98px) {
	.nk-sidebar-mobile {
		width: 290px !important
	}
}

@media (max-width: 575.98px) {
	.nk-sidebar-inner {
		padding: 1.25rem 1.25rem 2.5rem
	}
}

@media (min-width: 992px) {
	.has-apps-sidebar .nk-sidebar {
		left: 80px
	}
}

@media (min-width: 1200px) {
	.nk-sidebar-content .nk-sidebar-menu {
		padding-top: 1rem;
		padding-bottom: 1.5rem
	}
	.nk-sidebar {
		transform: translateX(0)
	}
	.nk-sidebar-overlay {
		display: none
	}
	.has-sidebar .nk-wrap {
		padding: 65px 0 0 280px
	}
	.apps-only .nk-sidebar {
		display: none
	}
	.apps-only .nk-wrap {
		padding-left: 0
	}
}

.nk-apps-sidebar {
	display: none;
	background-color: #f5f6fa;
	border-right: 1px solid #e5e9f2
}

.nk-apps-sidebar.is-light {
	background: #fff
}

.nk-apps-sidebar.is-dark {
	background: #101924;
	border-color: #203247
}

.nk-apps-sidebar.is-theme {
	background: #29347a;
	border-color: #3644a0
}

.nk-apps-sidebar .nk-sidebar-profile {
	padding: 1rem 0 1.5rem
}

.nk-apps-sidebar .nk-sidebar-profile>a {
	margin-left: auto;
	margin-right: auto
}

.nk-apps-sidebar .dropdown-menu .lead-text {
	color: #364a63
}

.nk-apps-sidebar .dropdown-menu .sub-text,
.nk-apps-sidebar .dropdown-menu .overline-title,
.nk-apps-sidebar .dropdown-menu .overline-title-alt {
	color: #8094ae
}

.nk-apps-brand .logo-link {
	position: relative;
	padding: 1rem 1.5rem 2rem
}

.nk-apps-brand .logo-img:not(:first-child) {
	left: 1.5rem;
	margin-top: -0.5rem
}

.nk-apps-brand.has-dropdown .logo-link:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	content: "î§…";
	font-family: "Nioicon";
	color: #8094ae;
	font-size: 1.25rem
}

.nk-apps-brand:hover .nk-apps-dropdown {
	opacity: 1;
	transform: translateX(0);
	visibility: visible
}

.nk-apps-dropdown {
	position: absolute;
	top: 0;
	width: 280px;
	background: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(43, 55, 72, 0.15);
	z-index: 1109;
	opacity: 0;
	visibility: hidden;
	left: 0;
	transform: translateX(-25px);
	border-radius: 0 0 4px 0;
	transition: all .3s
}

.nk-apps-dropdown-list li:not(:last-child) {
	border-bottom: 1px solid #e5e9f2
}

.nk-apps-dropdown-item {
	display: flex;
	align-items: center;
	padding: 1.25rem 1.5rem
}

.nk-apps-dropdown-icon {
	flex-shrink: 0;
	width: 36px
}

.nk-apps-dropdown-icon+.nk-apps-dropdown-text {
	margin-left: 1rem
}

@media (min-width: 992px) {
	.nk-apps-sidebar {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1099;
		width: 80px
	}
	.nk-apps-sidebar+.nk-main {
		padding-left: 80px
	}
	.nk-apps-sidebar+.nk-main>.nk-wrap>.nk-header-fixed {
		left: 80px
	}
	.nk-apps-sidebar .nk-sidebar-head {
		width: 80px;
		border-bottom: 0;
		background: transparent
	}
	.nk-apps-sidebar .nk-sidebar-content {
		height: calc(100vh - 65px - 90px)
	}
	.nk-apps-sidebar .nk-sidebar-footer {
		padding: 1rem 0 0
	}
	.nk-apps-sidebar .nk-sidebar-profile {
		width: 79px
	}
}

.nk-menu li a {
	vertical-align: middle;
	display: flex;
	position: relative;
	align-items: center;
	transition: color .3s, background-color .3s
}

.nk-menu-item {
	padding: 2px 0
}

.nk-menu-sub .nk-menu-item {
	padding: 1px 0
}

.nk-menu-item.has-sub {
	position: relative
}

.nk-menu>.nk-menu-item.menu-without-icon>.nk-menu-sub .nk-menu-link {
	padding-left: 0
}

.nk-menu-link {
	padding: .625rem 40px .625rem 24px;
	color: #6e82a5;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: .01em;
	text-transform: none;
	line-height: 1.25rem
}

.nk-menu-link:hover,
.active>.nk-menu-link {
	color: #7f8dff
}

.nk-menu-link:hover .count,
.active>.nk-menu-link .count {
	color: #7f8dff
}

.nk-menu-sub .nk-menu-link {
	padding: .375rem 40px .375rem 36px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: normal;
	text-transform: none;
	line-height: 1.25rem;
	color: #6e82a5
}

.nk-menu-link.is-disable {
	cursor: default
}

.nk-menu-link.is-disable:hover,
.active>.nk-menu-link.is-disable {
	color: #6e82a5
}

.nk-menu-link.is-disable:hover .count,
.active>.nk-menu-link.is-disable .count {
	color: #6e82a5
}

.is-light .nk-menu-link {
	color: #526484
}

.is-theme .nk-menu-link {
	color: #9cadfd
}

.is-light .nk-menu-link:hover,
.is-light .active>.nk-menu-link {
	color: #7f8dff
}

.is-theme .nk-menu-link:hover,
.is-theme .active>.nk-menu-link {
	color: #fff
}

.nk-menu-link span.small {
	color: #8094ae;
	margin-left: .5rem
}

.nk-menu-icon {
	font-weight: normal;
	letter-spacing: normal;
	width: 36px;
	line-height: 1;
	flex-grow: 0;
	color: #8094ae
}

.is-theme .nk-menu-icon {
	color: #9cadfd
}

.nk-menu-icon svg,
.nk-menu-icon img {
	width: 36px
}

.nk-menu-icon .icon {
	font-size: 24px;
	letter-spacing: normal;
	vertical-align: middle;
	color: currentColor;
	transition: color .4s, background-color .4s
}

.nk-menu-link:hover .nk-menu-icon,
.nk-menu-item.active>.nk-menu-link .nk-menu-icon,
.nk-menu-item.current-menu>.nk-menu-link .nk-menu-icon {
	color: #7f8dff
}

.is-theme .nk-menu-link:hover .nk-menu-icon,
.is-theme .nk-menu-item.active>.nk-menu-link .nk-menu-icon,
.is-theme .nk-menu-item.current-menu>.nk-menu-link .nk-menu-icon {
	color: #fff
}

.nk-menu-link.is-disable:hover .nk-menu-icon {
	color: #8094ae
}

.is-theme .nk-menu-link.is-disable:hover .nk-menu-icon {
	color: #c4cefe
}

.nk-menu-text {
	flex-grow: 1;
	display: inline-block
}

.nk-menu-badge {
	border-radius: 3px;
	padding: 0 .4rem;
	font-size: 11px;
	color: #798bff;
	background: #eff1ff;
	position: absolute;
	top: 50%;
	right: 24px;
	transform: translateY(-50%)
}

.is-dark .nk-menu-badge {
	color: #9cabff;
	background: #203247
}

.is-theme .nk-menu-badge {
	color: #c4cefe;
	background: #3947a8
}

.nk-menu-main .nk-menu-sub .nk-menu-badge {
	color: #798bff;
	background: #eff1ff
}

.nk-menu-main .nk-menu-badge {
	position: static;
	transform: translateY(0);
	margin-left: 0.5rem
}

.nk-menu-heading {
	padding: 0.25rem 24px 0.5rem;
	color: #8094ae
}

.is-theme .nk-menu-heading {
	color: #7990fd
}

.nk-menu-item+.nk-menu-heading {
	padding-top: 2.5rem
}

.nk-menu-heading .overline-title {
	color: inherit
}

.nk-menu-heading span {
	font-size: 13px;
	font-weight: 400
}

.nk-menu-hr {
	margin: 1.25rem 0;
	border-bottom: 1px solid #dbdfea
}

.is-dark .nk-menu-hr {
	border-color: rgba(255, 255, 255, 0.12)
}

.is-theme .nk-menu-hr {
	border-color: rgba(255, 255, 255, 0.12)
}

.nk-menu-hr+.nk-menu-heading {
	padding-top: 1rem
}

.nk-menu-sub {
	padding-bottom: .25rem
}

.nk-menu-toggle+.nk-menu-sub {
	display: none
}

.active>.nk-menu-sub {
	display: block
}

.nk-menu-sub .nk-menu-link:hover {
	color: #6576ff
}

.is-theme .nk-menu-sub .nk-menu-link:hover {
	color: #fff
}

.nk-menu-sub .active>.nk-menu-link {
	color: #6576ff
}

.is-theme .nk-menu-sub .active>.nk-menu-link {
	color: #fff
}

.nk-menu-sub .nk-menu-icon {
	width: 24px;
	margin-top: -1px
}

.nk-menu-sub .nk-menu-icon .icon {
	margin-top: -1px;
	font-size: 1.2em
}

.nk-menu-toggle {
	position: relative
}

.nk-menu-toggle:after {
	position: absolute;
	font-family: "Nioicon";
	top: 50%;
	right: 1.25rem;
	content: "î§“";
	transform: translateY(-50%);
	font-size: 1rem;
	color: #8094ae;
	transition: transform .3s, color .1s
}

.is-dark .nk-menu-toggle:after,
.is-theme .nk-menu-toggle:after {
	color: rgba(255, 255, 255, 0.4)
}

.has-sub.active>.nk-menu-toggle:after {
	transform: translateY(-50%) rotate(90deg)
}

.nk-menu .count {
	display: inline-block;
	font-size: .85em;
	margin-left: .25rem;
	color: #8094ae;
	line-height: 1
}

.nk-menu-icon-colored .nk-menu-icon {
	color: #6576ff
}

.nk-menu-tooltip {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.nk-menu+.nk-menu-md {
	padding-top: 5rem
}

.nk-menu-md .nk-menu-heading {
	color: #526484
}

.nk-menu-md .nk-menu-link {
	padding-top: .325rem;
	padding-bottom: .325rem
}

.nk-menu-md .nk-menu-sub .nk-menu-link {
	padding: .375rem 32px .375rem 1.75rem
}

.nk-menu-md .nk-menu-sub .nk-menu-sub {
	border-left: 1px solid #e5e9f2;
	margin-left: 1.75rem
}

.nk-menu-md .nk-menu-sub .nk-menu-sub .nk-menu-link {
	padding-left: 1rem
}

.nk-menu-md .nk-menu-icon {
	width: 1.75rem;
	margin-top: -2px
}

.nk-menu-md .nk-menu-icon .icon {
	font-size: 1.25rem
}

.nk-menu-md .nk-menu-text {
	font-size: 13px;
	line-height: 1.25rem
}

.nk-menu-inline {
	display: flex
}

.nk-menu-inline .nk-menu-link {
	padding-left: 0;
	padding-right: 0
}

.nk-menu-footer {
	display: flex
}

.nk-menu-footer .nk-menu-link {
	padding-left: 0;
	padding-right: 0;
	padding-top: .25rem;
	padding-bottom: .25rem;
	color: #8094ae;
	font-family: Roboto, sans-serif;
	font-weight: 500
}

.nk-menu-footer .nk-menu-link:hover {
	color: #7f8dff
}

.is-theme .nk-menu-footer .nk-menu-link {
	color: #c4cefe
}

.nk-menu-footer .nk-menu-icon {
	width: 1.375rem;
	color: #6576ff
}

.nk-menu-footer .nk-menu-icon .icon {
	font-size: 1rem
}

.nk-menu-footer .nk-menu-text {
	font-size: 12px;
	line-height: 1.125rem
}

.nk-menu-main.nk-menu {
	padding-top: 0.75rem
}

.nk-menu-main .nk-menu-link {
	color: #526484;
	padding-left: 24px
}

.nk-menu-main .nk-menu-sub {
	padding: 0;
	margin: 0;
	transition: none
}

.nk-menu-main .nk-menu-sub .nk-menu-link {
	color: #526484
}

.nk-menu-main .nk-menu-sub .nk-menu-sub {
	border-left: 1px solid #dbdfea;
	margin: 0.25rem 0 0.25rem 24px;
	padding-bottom: 0
}

.nk-menu-main .nk-menu-sub .nk-menu-sub .nk-menu-link {
	padding-left: .875rem
}

.nk-menu-main .nk-menu-link:hover,
.nk-menu-main .nk-menu-link:focus,
.nk-menu-main .nk-menu-item.active>.nk-menu-link,
.nk-menu-main .nk-menu-item.current-menu>.nk-menu-link,
.nk-menu-main .nk-menu-item:hover>.nk-menu-link {
	color: #7f8dff
}

.nk-menu-main>li>.nk-menu-link {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	letter-spacing: -0.01rem
}

@media (max-width: 991.98px) {
	.nk-menu-main.nk-menu {
		max-height: calc(100vh - 65px);
		overflow: auto
	}
}

@media (min-width: 992px) {
	.nk-menu-main.nk-menu {
		padding: 0 .5rem 0 .5rem
	}
	.nk-menu-main>li {
		padding: 0;
		display: inline-block
	}
	.nk-menu-main>li.nk-menu-item {
		padding: 0 .75rem
	}
	.nk-menu-main>li.nk-menu-item>.nk-menu-link {
		padding: 1.25rem 0;
		font-size: 15px
	}
	.nk-menu-main>li>.nk-menu-link:before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		height: 3px;
		background: #7f8dff;
		border-radius: 3px 3px 0 0;
		opacity: 0
	}
	.nk-menu-main>li.nk-menu-item.active>.nk-menu-link:before,
	.nk-menu-main>li.nk-menu-item.current-menu>.nk-menu-link:before {
		opacity: 1
	}
	.nk-menu-main>li>.nk-menu-sub {
		border-top-left-radius: 0;
		border-top-right-radius: 0
	}
	.nk-menu-main .nk-menu-link {
		padding: .5rem 1.25rem;
		font-size: 13px
	}
	.nk-menu-main .nk-menu-icon {
		display: none
	}
	.nk-menu-main .nk-menu-text {
		line-height: 1.5rem
	}
	.nk-menu-main .nk-menu-item .nk-menu-toggle:after {
		line-height: 1;
		position: static;
		transform: translateY(0);
		content: "î§…";
		vertical-align: middle;
		color: rgba(128, 148, 174, 0.7);
		margin-left: 0.5rem;
		margin-right: -2px;
		margin-top: -1px;
		transition: color .1s
	}
	.nk-menu-main .nk-menu-item:hover>.nk-menu-sub {
		opacity: 1;
		visibility: visible;
		margin-top: 0
	}
	.nk-menu-main .nk-menu-sub {
		position: absolute;
		left: 0;
		top: 100%;
		width: 200px;
		background: #fff;
		border: 1px solid #e5e9f2;
		box-shadow: 0 0.125rem 0.25rem rgba(43, 55, 72, 0.15);
		border-radius: 4px;
		padding: .5rem 0;
		opacity: 0;
		visibility: hidden;
		margin-top: 6px;
		transition: opacity .4s, margin .2s;
		display: block !important
	}
	.nk-menu-main .nk-menu-sub .nk-menu-link {
		padding-top: .5rem;
		padding-bottom: .5rem
	}
	.nk-menu-main .nk-menu-sub .nk-menu-sub {
		top: -9px;
		padding: .5rem 0;
		border: 1px solid #e5e9f2;
		margin: 0;
		margin-top: 6px;
		left: 100%;
		margin-left: -0.75rem
	}
	.nk-menu-main .nk-menu-sub .nk-menu-sub .nk-menu-link {
		padding-left: 1.5rem
	}
	.nk-menu-main .nk-menu-sub .nk-menu-item:hover>a {
		background: #f5f6fa
	}
	.nk-menu-main .nk-menu-sub .nk-menu-toggle:after {
		content: "î§“"
	}
	.is-dark .nk-menu-main>li>.nk-menu-link:before,
	.is-theme .nk-menu-main>li>.nk-menu-link:before {
		border-radius: 0;
		bottom: auto;
		top: 0
	}
	.is-dark .nk-menu-main>li>.nk-menu-link {
		color: #9faec2
	}
	.is-dark .nk-menu-main>li>.nk-menu-link.nk-menu-toggle:after {
		color: rgba(128, 148, 174, 0.7)
	}
	.is-dark .nk-menu-main>li:hover>.nk-menu-link,
	.is-dark .nk-menu-main>li.active>.nk-menu-link,
	.is-dark .nk-menu-main>li.current-menu>.nk-menu-link,
	.is-dark .nk-menu-main>li>.nk-menu-link:hover {
		color: #fff
	}
	.is-theme .nk-menu-main>li>.nk-menu-link {
		color: #c4cefe
	}
	.is-theme .nk-menu-main>li>.nk-menu-link.nk-menu-toggle:after {
		color: rgba(196, 206, 254, 0.7)
	}
	.is-theme .nk-menu-main>li:hover>.nk-menu-link,
	.is-theme .nk-menu-main>li.active>.nk-menu-link,
	.is-theme .nk-menu-main>li.current-menu>.nk-menu-link,
	.is-theme .nk-menu-main>li>.nk-menu-link:hover {
		color: #fff
	}
}

@media (min-width: 1200px) {
	.nk-menu-main.nk-menu {
		padding: 0 1.5rem 0 2rem
	}
	.nk-menu-main>li.nk-menu-item {
		padding: 0 1rem
	}
}

.apps-menu .nk-menu-link {
	padding: .75rem .5rem;
	text-align: center
}

.apps-menu .nk-menu-link:before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	border-radius: 0 2px 2px 0;
	width: 3px;
	background: #7f8dff;
	opacity: 0
}

.apps-menu .nk-menu-icon {
	width: 100%
}

.nk-apps-sidebar .nk-sidebar-content .nk-sidebar-menu {
	padding-top: 1rem
}

.nk-apps-sidebar .nk-menu {
	padding-left: 0;
	padding-right: 0
}

.nk-apps-sidebar .nk-menu-link {
	padding: .75rem .5rem;
	text-align: center
}

.nk-apps-sidebar .nk-menu-icon {
	width: 100%
}

.nk-apps-sidebar .nk-menu-text {
	display: none
}

@media (min-width: 992px) {
	.apps-menu>li.nk-menu-item.active>.nk-menu-link:before {
		opacity: 1
	}
}

.nk-footer {
	margin-top: auto;
	background: #fff;
	border-top: 1px solid #e5e9f2;
	padding: 20px 6px
}

.nk-footer.is-dark:not([class*=bg-]) {
	background: #2b357e
}

.nk-footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap
}

.nk-footer-copyright {
	color: #8094ae
}

.nk-footer-copyright a {
	color: inherit
}

.nk-footer-copyright a:hover {
	color: #6576ff
}

@media (min-width: 576px) {
	.nk-footer {
		padding: 20px 14px
	}
}

@media (min-width: 992px) {
	.nk-footer-fluid {
		padding-left: 24px;
		padding-right: 24px
	}
}

@media (min-width: 1660px) {
	.nk-footer-fluid {
		padding-left: 44px;
		padding-right: 44px
	}
}

.nk-split {
	position: relative;
	display: flex
}

.nk-split-page {
	min-height: 100vh
}

.nk-split-content {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	min-height: 100%
}

@media (min-width: 768px) {
	.nk-split-content-md {
		width: 642px
	}
}

.nk-split-stretch {
	flex-grow: 1;
	flex-shrink: 1
}

@media (max-width: 991.98px) {
	.nk-split-stretch.toggle-break-lg {
		width: 460px
	}
}

@media (max-width: 575.98px) {
	.nk-split-sm {
		flex-wrap: wrap
	}
}

@media (max-width: 767.98px) {
	.nk-split-md {
		flex-wrap: wrap
	}
}

@media (max-width: 991.98px) {
	.nk-split-lg {
		flex-wrap: wrap
	}
}

@media (max-width: 1199.98px) {
	.nk-split-xl {
		flex-wrap: wrap
	}
}

@media (max-width: 1539.98px) {
	.nk-split-xxl {
		flex-wrap: wrap
	}
}
